<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.LoginMapper">
    <select id="checklogin" resultType="java.lang.Integer">
        select User_ID from user_info where User_name = #{User_name} and password = #{password}
    </select>
</mapper>